#For flask
flask
flask-bootstrap
flask-script
flask-wtf

#For redis queue
redis
rq
paho-mqtt

#For database
flask-sqlalchemy
flask-migrate

requests
# beautifulsoup4
bs4

Pillow
cairosvg
imageio

#A Flask extension for handling Cross Origin Resource Sharing (CORS), making cross-origin AJAX possible.
flask-cors

influxdb

