#For flask
flask
flask-bootstrap
flask-script
flask-wtf

#For redis queue
redis
rq

#For database
flask-sqlalchemy
flask-migrate

requests

#For reading .npy files.
numpy

#A Flask extension for handling Cross Origin Resource Sharing (CORS), making cross-origin AJAX possible.
flask-cors
